* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.nav {
  background-color: antiquewhite;
  text-align: center;
  padding-block: 15px;
}
.nav a {
  text-decoration: none;
  margin-inline: 50px;
  font-size: 2em;
  color: black;
}

#contactUsPage {
  text-align: center;
  font-size: 2.5em;
  color: navy;
}