<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJs Homework</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header class="header">
      <nav class="nav">
        <a href="./page.html">Home</a>
        <a href="./about.html">About</a>
        <a href="./contactUs.html">Contact Us</a>
      </nav>
    </header>

    <div class="mainDiv">
      <h1>Book Component By Function</h1>
      <img
        id="image"
        src="./images/You_Dont_Know_JS.jpg"
        alt="You Dont Know JS: Scope and Closures"
        width="300"
      />
      <p id="author">By Kyle Simpson</p>
      <p id="paragraph">
        Parts of the language that many JavaScript programmers simply avoid.
      </p>
      <aside id="copyright">&copy; 2021 Tiana</aside>
    </div>
  </body>
</html>
